/venv
MLOpsReviews
ratin_total.csv
score_movies.csv
totalplataformas.csv
transformacion_amazon.csv
transformacion_disney.csv
transformacion_hulu.csv
transformacion_netflix.csv
filtro_peliculas.csv
output_min.html
output.html
outputratin.html
peliculas.csv